<div class = "container text-justify">

  <ul>
    <% @bookings.each do |booking| %>
      <li>
        Account Type: <%= booking.acc_type %><br>
        First name: <%= booking.first_name %><br>
        Last name: <%= booking.last_name %><br>
        Email: <%= booking.email %><br>
        Phone: <%= booking.phone %><br>
        Expected Cost: <%= booking.cost %><br>
        Summary: <%= booking.summary %><br>
        Street Address: <%= booking.street %><br>
        City: <%= booking.city %><br>
        Province: <%= booking.state %><br>
        Country: <%= booking.country %><br>
        Postal Code: <%= booking.postal_code %><br>
        <%= link_to 'Delete', session_booking_path(booking), method: :delete %>
      </li>
    <% end %>
  </ul>

</div>
