<div class = "container text-center">
  <%= form_for @booking do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Request Form</h1>
    <%= label :acc_type, 'Customer' %>
    <%= f.radio_button :acc_type, 'Customer' %>
    <%= label :acc_type, 'Pilot' %>
    <%= f.radio_button :acc_type, 'Pilot' %>
    <%= f.text_field :first_name, placeholder: "First Name", class: "form-control"  %> <br>
    <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %> <br>
    <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %> <br>
    <%= f.telephone_field :phone, placeholder: "Phone Number", class: "form-control" %> <br>
    <%= f.number_field :cost, placeholder: "Pref Cost in Dollars", in: 1..99999, class: "form-control" %> <br>
    <%= f.text_area :summary, placeholder: "Additional Info", class: "form-control" %> <br>
    <%= f.text_field :country, placeholder: "Country", class: "form-control"  %> <br>
    <%= f.text_field :state, placeholder: "State", class: "form-control"  %> <br>
    <%= f.text_field :city, placeholder: "City", class: "form-control"  %> <br>
    <%= f.text_field :street, placeholder: "Street Address", class: "form-control"  %> <br>
    <%= f.text_field :postal_code, placeholder: "Postal code", class: "form-control"  %> <br>

    <%= f.submit "Submit Application", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>
