<br>
<div class = "container text-center">
  <% if flash[:danger] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:danger] %>
    </div>
  <% end %>

  <h1 class="h3 mb-3 font-weight-normal">Request Form for Pilot</h1>
  <%= form_for @pilot do |f| %>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.text_field :first_name, placeholder: "First Name", class: "form-control"  %> <br>
      </div>
      <div class="form-group col-md-6">
        <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %> <br>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %> <br>
      </div>
      <div class="form-group col-md-6">
        <%= f.telephone_field :phone, placeholder: "Phone Number. No spaces", class: "form-control" %> <br>
      </div>
    </div>

    <%= f.number_field :cost, placeholder: "Hourly Rate in Dollars", in: 1..999, class: "form-control" %> <br> <br>
    <%= f.text_area :summary, placeholder: "Additional Info", class: "form-control" %> <br> <br>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.text_field :country, placeholder: "Country", class: "form-control"  %> <br>
      </div>
      <div class="form-group col-md-3">
        <%= f.text_field :state, placeholder: "State", class: "form-control"  %> <br>
      </div>
      <div class="form-group col-md-3">
        <%= f.text_field :city, placeholder: "City", class: "form-control"  %> <br>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <%= f.text_field :street, placeholder: "Street Address", class: "form-control"  %> <br>
      </div>
      <div class="form-group col-md-4">
        <%= f.text_field :postal_code, placeholder: "Postal code", class: "form-control"  %> <br>
      </div>
    </div>

    <%= label :available_days, 'Available Days:' %>
    <% days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
    <% days.each do |day| %>
      <%= label :available_days, day %>
      <%= f.check_box :available_days, { multiple: true }, day, false %>
    <% end %>
    <br>

    <%= f.submit "Submit Application", class: "btn btn-primary" %>
  <% end %>

</div>
